canvas {
    border: 1px solid #000000;
    margin: 0 auto;
}

#debug {
    position: absolute;
    top: 4rem;
    left: 2rem;
}

.ui {
    position: absolute;
    display: flex;
    width: 1445px;
    justify-content: space-between;
}

.power-wrapper {
    border: 1px solid red;
    width: 200px;
    height: 20px;
    .power {
        height: 20px;
        background-color: red;
        transition: width 0.2s ease-out;
    }
}
